/*  fixing css     */
.binduz-er-top-header-area-4 {
  height: auto;
}

.binduz-er-news-top-header-area-2 {
  height: auto;
}

.binduz-er-top-news-area {
  padding-bottom: 0;
}

.binduz-er-popular-news-title {
  margin-top: 40px;
}

.binduz-er-news-offcanvas_menu.binduz-er-news-offcanvas_menu_left .binduz-er-news-offcanvas_menu_wrapper {
  margin-left: -400px;
}

.page-id-47 .binduz-er-populer-news-sidebar-newsletter .binduz-er-newsletter-box {
  background: #004E87;
  padding: 75px 60px 75px;
}

.binduz-er-featured-item .binduz-er-thumb .binduz-er-icon i {
  height: 50px;
  width: 50px;
  background: #F63A3A;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: transparent;
}

.binduz-er-thumb:hover img {
  transform: scale(1.1);
}

.binduz-er-thumb {
  overflow: hidden;
}

.binduz-er-thumb img {
  transition: all linear 0.3s;
}

@media only screen and (min-width: 10px) and (max-width: 992px) {
  .binduz-er-topbar-headline-2 {
    display: none;
  }
}
.elementor-fit-aspect-ratio iframe {
  background: transparent;
}

.video__play__button:before {
  display: none;
}

.elementor-tab-title {
  background: #fff !important;
  color: #666 !important;
}

.elementor-tab-title.elementor-active {
  background: #e74d58 !important;
  color: #fff !important;
  margin-right: 20px !important;
}

.elementor-widget-tabs .elementor-tab-content {
  padding: 0;
  margin-top: 20px;
}

.page-template-breadcrumb .binduz-er-breadcrumb-area {
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-template-breadcrumb .binduz-er-top-header-ad {
  padding-bottom: 0;
  padding-top: 30px;
}

.binduz-er-contact-us-box button {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  border-radius: 0;
  background: #e74d58;
  border: 0;
  line-height: 60px;
  padding: 0 42px;
}

.binduz-er-contact-us-box {
  padding: 135px 60px 60px;
}

@media (max-width: 767px) {
  .binduz-er-contact-us-box {
    padding: 35px 20px 20px;
  }
}
#qs__blog__main__container {
  padding: 0 0 20px;
}

.binduz-er-author-box .binduz-er-thumb {
  overflow: visible;
}

.binduz-er-breadcrumb-area {
  margin-bottom: 40px;
  margin-top: 40px;
}

.binduz-er-meta-item .binduz-er-meta-categories a {
  margin-right: 5px;
}

.navbar .navbar-nav .nav-item .sub-menu > li a {
  white-space: nowrap;
}

.binduz-er-blog-details-box .binduz-er-quote-text {
  overflow: visible;
}

.binduz-er-meta-categories a {
  text-transform: capitalize;
}

.binduz-er-blog-details-box .binduz-er-quote-text {
  margin-top: 0;
}

.binduz-er-popular-news-title {
  margin-top: 0;
}

.binduz-er-sidebar-latest-post-item .binduz-er-content, .binduz-er-video-post.binduz-er-recently-viewed-item .binduz-er-latest-news-item .binduz-er-content {
  background: none;
}

.binduz-er-news-tab-btn ul li a.active {
  background: transparent !important;
}

.archive .binduz-er-breadcrumb-area {
  margin-bottom: 40px;
}

.qs__blog__comments__pagination, .qs__blog__posts__pagination {
  margin-bottom: 40px;
}

.elementor-fit-aspect-ratio iframe {
  background: transparent;
}

.archive .binduz-er-breadcrumb-area {
  margin-bottom: 40px i !important;
}

.binduz-er-populer-news-sidebar-post .binduz-er-popular-news-title ul li.nav-item {
  margin-top: 0;
}

.qs__blog__comments__pagination, .qs__blog__posts__pagination {
  margin-bottom: 40px;
}

.binduz-er-content {
  font-size: 14px;
}

.binduz-er-meta-date {
  font-size: 14px;
}

.binduz-er-header-area-2 .binduz-er-header-meddle-bar {
  padding: 40px 75px;
}

.binduz-er-newsletter-box::before {
  background-image: url(https://wp.quomodosoft.com/binduz/home-v3/wp-content/uploads/sites/3/2021/03/newsletter-news.jpg);
}

.binduz-er-header-area.binduz-er-header-area-4 .binduz-er-header-nav .binduz-er-header-meddle-bar .navigation .navbar .navbar-nav > .nav-item > a {
  line-height: 80px;
}

.binduz-er-sidebar-latest-post-box .binduz-er-sidebar-latest-post-item .binduz-er-thumb {
  min-width: 80px;
}

.binduz-er-qomodo-social-2 .binduz-er-popular-news-title {
  padding-top: 0;
}

.binduz-er-populer-news-sidebar-post {
  padding-top: 0;
}

.qs__blog__widget__area {
  padding: 0 !important;
}

.single .binduz-er-author-item-layout-1 .binduz-er-author-item {
  padding: 0 50px 0 0;
}

.single .binduz-er-author-item-layout-1 .binduz-er-author-item .binduz-er-content {
  padding: 50px;
  margin-bottom: 0;
}

#qomodo-recent-video-post-2 .binduz-er-popular-news-title {
  border: 0;
}

.binduz-er-video-post .binduz-er-latest-news-item .binduz-er-thumb {
  min-width: 100%;
  max-width: 100%;
}

